* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4, p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h3 {
    font-weight: 600;
}

body,
html {
  margin: 0;
}

main {
  all: unset;
}

ul, li {
    all: unset;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formatted-header, .contact, .infoSection, .info-text, .info-date, .info-group {
    display: flex;
}

.infoSection {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}

.infoSection:not(:last-child) {
    border-bottom: 1px dotted #a5a5a5;
}

.formatted-header {
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  padding-bottom: 0;
  gap: 1.5rem;
  align-items: center;
}

.formatted-header h1 {
    text-align: center;
}

.contact {
    justify-content: space-between;
    padding: 0.25rem 10%;
    min-width: 100vw;
    background-color: #000;
    color: #FFF;
}

.infoSection h2 {
    text-align: center;
}

.info-group {
    justify-content: space-between;
    align-items: center;
}


.info-text {
    justify-content: flex-start;
    flex-direction: column;
}

.info-dates, .info-text p {
    justify-content: flex-end;
    font-size: 0.9rem;
    font-weight: 500;
}

.jobResp {
    margin-top: 1rem;
    line-height: 1.15;
}