* {
  box-sizing: border-box;
}

:root {
  --light-gray: #dee2e6;
  --dark-ocean: #005f73;
}

main {
  /* padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; */
}


h1,
h2,
h3,
h4 {
  margin: 0;
}